.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: linear-gradient(#ffffff 0%, #efffeb 10%);
    -fx-text-fill: -fx-text-base-color;
}

.combo-box-base  
{
    -fx-background-color: linear-gradient(#ffffff 0%, #2a5a1e 10%, #a6dc97 100%);
}

.combo-box-base:hover
{
   -fx-background-color: linear-gradient(#ffffff 0%, #2a5a1e 10%, #a6dc97 100%);
}

.combo-box-base:showing 
{
    -fx-background-color: linear-gradient(#ffffff 0%, #2a5a1e 10%, #a6dc97 100%);
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: linear-gradient(#ffffff 0%, #2a5a1e 10%, #a6dc97 100%);
    -fx-text-fill: -fx-text-inner-color;
}
